<!-- app/views/sessions/new.html.erb -->

<h1>Login</h1>

<%= form_tag '/login' do %>

  username: <%= text_field_tag :username %>
  password: <%= password_field_tag :password_digest %>
  <%= submit_tag "Submit" %>

<% end %>
