<!-- app/views/users/new.html.erb -->

<h1>Signup!</h1>

<%= form_for @user do |f| %>

  Username: <%= f.text_field :username %>
  Password: <%= f.password_field :password_digest %>
  <%= f.submit "Submit" %>

<% end %>
